<div id="container-exp">

	<div id="not-an-ad">
		<div class="row">
			<div class="col-xs-2">
				<!-- REPLACE THE LOGO HERE WITH YOUR UNIVERSITY, LAB, or COMPANY -->
				<img id="adlogo" src="{{ server_location }}/static/images/whoops-yall.png" alt="Whoops Y'all" />
			</div>
			<div class="col-xs-10">

					    <h1>Success!</h1>
						<p>
							You are entitled to a reimbursement bonus of
						</p>
						<div id="bonusamount" class="alert alert-success numberbox">
							<span class="bignumber">$X.XX</span>
						</div>
						<p>
							<b>Your bonus will be paid very shortly and will appear in your AMT account.</b>
						</p>
						<button type="button" class="btn btn-primary btn-lg" onClick="completehit();">
							Press to complete HIT.
						</button>
			</div>
	</div>
</div>